<% provide(:title, "Edit Word") %>
<% provide(:button_text, 'Save Changes') %>
<div class="form content my-4">
    <div class="jumbotron" style="background-color: #343A40;">
        <h1 class="text-center text-white">Edit Word</h1>
        <div class="container text-light">
            <%= render 'form' %>
        </div>
    </div>
</div>