<% provide(:title, 'Manage Words') %>
<div class="form content">
    <h1 class="text-center mt-4"><%= @category.title %></h1>
    <%= link_to "Create Word", admin_words_path(@category), method: :post, class: "btn btn-warning float-right mb-2" %>
    <div class="container mt-4">
        <hr style="clear: both;">
        <div class="row">
            <%# render 'word_list' %>
        </div>
        <hr class="my-4">
        
    </div>
</div>