<div class="form content my-4">
    <div class="jumbotron" style="background-color: #343A40;">
        <h1 class="text-center text-white"><%= @category.title %></h1>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="jumbotron" style="background-color: #343A40;">
            <div class="container">
                <table class="table text-white">
                <tbody>
                    <tr>
                        <th>Word</th>
                        <th>Your Answer</th>
                        <th>Correct Answer</th>
                        <th></th>
                    </tr>
                    <% @words.each do |word| %>
                        <tr>
                            
                        </tr>
                    <% end %>
                </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>