<% provide(:title, 'Manage Categories') %>
<div class="form content">
    <h1 class="text-center mt-4">Manage Categories</h1>
    <%= link_to "Create Category", new_admin_category_path, class: "btn btn-warning float-right mb-2" %>
    <div class="container mt-4">
        <hr style="clear: both;">
        <div class="row">
            <%= render 'category_list' %>
        </div>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
            <%= will_paginate %>
        </div>
    </div>
</div>