<% provide(:title, 'Manage Words') %>
<div class="form content">
    <h1 class="text-center mt-4">Manage Words: <%= @category.title %></h1>
    <%= link_to "Create Word", new_admin_category_word_path(@category), class: "btn btn-warning float-right mb-2" %>
    <div class="container mt-4">
        <hr style="clear: both;">
        <div class="row">
            <%= render 'admin/words/word_list' %>
        </div>
        <hr class="my-4">
    </div>
</div>