<% provide(:title, 'Users') %>
<div class="form content">
    <h1 class="text-center mt-4">categories</h1>
    <div class="container">
        <hr>
        <ul class="categories">
            
        </ul>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
            <%= will_paginate %>
        </div>
    </div>
</div>