<% provide(:title, 'Users') %>
<div class="form content">
    <h1 class="text-center mt-4">Category List</h1>
    <div class="container mt-4">
        <hr>
        <div class="row">
            <%= render 'list' %>
        </div>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
            <%= will_paginate %>
        </div>
    </div>
</div>